@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* f72585, 7209b7, 3a0ca3,4361ee,4cc9f0*/
/*Layout*/
/* :root {
	--primary: #3a0ca3;
	--secondary: #ff006e;
	--body-color: #1a1a1a;
	--white: #fff;
} */

body {
	background: white;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}